
body.houses {
  &.index {

  }

  &.show {
    .navbar-brand {
      background: image-url("brand_icon.jpg") no-repeat left center;
      background-size: contain;
      width: 95px 
    }

    img.front {
      width: 100%;
      margin-bottom: 8px;
      border-radius: 10px;
    }

    .vote.form-group {
      margin-bottom: 10px;
      textarea {
        border-radius: 10px;
        border-width: 3px;
      }
    }

    div.balloon-wrapper {
      margin: 15px auto;
    }
    div.balloon-wrapper::after {
      clear: both;
      content: "";
      display: block;
      line-height: 0;
    }
    p.balloon-right {
      position: relative;
      z-index: 1;
      max-width: 80%;
      min-width: 10%;
      margin: 15px auto 5px;
      padding: 13px;
      background-color: #fff;
      border-width: 3px;
      border-style: solid;
      border-radius: 10px;
    }
    p.balloon-right::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 10;
      top: 10px;
      width:  0;
      height: 0;
      border: 15px solid transparent;
    }
    p.balloon-right::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 100;
      top: 10px;
      width:  0;
      height: 0;
      border: 15px solid transparent;
    }
    p.balloon-right {
      border-color: #a00c37;
    }
    p.balloon-right::before {
      right: -31px;
      border-left: 15px solid #a00c37;
    }
    p.balloon-right::after {
      right: -27px;
      border-left: 15px solid #fff;
    }

    #vr {
      width: 100%;
    }

    button.vote {
      margin-right: 10px;
      outline-color: #f25381;
    }

    button.like {
      margin-right: 30px;
      .count {
        padding: 1px 5px;
        font-weight: bold;
        text-decoration: underline;
      }
      outline-color: #f25381;
    }
  }
}

